html,
body {
  padding: 0;
  margin: 0;
  font-family: "Kanit", sans-serif;
  background:#F2F4F6;
  color: #566068;
}
input,
button,
label {
  font-family: "Kanit", sans-serif;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
.a_blue {
  color: #87a9a8;
  text-decoration: none;
}
.container {
  max-width: 1300px;
  margin: 0 auto;
}
div {
  font-size: 16px;
}
.btn_def {
  color: white;
  background: #6d848a;
  padding: 5px 10px;
  /* border-radius: 0.3rem; */
  text-decoration: none;
  border: none;
}
.btn_def:hover {
  background: #a9cec2;
}
.box_img_def {
  height: 200px;
  overflow: hidden;
}
.box_img_def.img {
  width: 100%;
}
.circular--landscape {
  max-width: 100%;
  width: 150px;
  height: 150px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

/* .circular--landscape img {
  width: auto;
  height: 100%;
  margin-left: -50px;
} */
.jr_text_center{
  text-align: center;
}